<section class="rectangle">
  <nav class="row">
      <div class="col-md-4">
        <section class="social-media">
          <a href="https://www.linkedin.com" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </section>
      </div>

      <div class="col-md-4 d-flex flex-column justify-content-start text-align-center">
          <h2 class="info">info</h2>
          <div class="support1">
              Qui sommes-nous? <br>
              Termes et confidentialité <br>
              support
          </div>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-start text-align-center">
          <h2 class="menu"> Menu </h2>
          <div class="support2">
              Accueil <br>
              Qui sommes-nous? <br>
              Contactez-nous
          </div>
      </div>

      <div>
          <hr class="ligne">
          <div class="Group">
            <p>&copy; 2024, ADDINN Group </p>
           
          </div>
      </div>
  </nav>
</section>
