<nav class="navbar navbar-expand-lg navbar-light bg-light  ">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand ms-auto" href="#">
     <p style="color: beige; font-size: larger;">Style</p>
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " routerLink="/Accueil"  href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Qui sommes-nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link   " aria-current="page"  href="#">Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contactez-nous</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link" href="#" routerLink="/profile">
            <i class="fas fa-user"></i>
          </a>
        </li>
      </ul>
    </div>
    
  </div>
  
</nav>


<section class="rectangle2">
    <nav class="row">
      <!-- Barre de recherche -->
      <div class="col-md-12 d-flex justify-content-center mb-4">
        <form class="search-form d-flex justify-content-center">
          <div class="search-bar d-flex align-items-center">
            <input class="barreRecherche" type="search" placeholder="Recherche..." aria-label="Recherche...">
            <button class="search-btn">Recherche</button>
          </div>
        </form>
      </div>
  
      <!-- Section des catégories -->
      <div class="col-md-4">
        <h3 class="title1">Catégories</h3>
        <ul class="list-group">
          <li class="list-group-item">Homme</li>
          <li class="list-group-item">Femme</li>
          <li class="list-group-item">Enfants</li>
          <li class="list-group-item">Accessoires</li>
          <li class="list-group-item">Sport</li>
        </ul>
  
        <h3 class="title2">Top Catégories</h3>
        <div class="top-categories">
          <div class="list-group">
            <div class="list-group-item">Sport
                <p class="product-description " >Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quisquam ...</p> </div>
            <div class="list-group-item">Homme
                <p class="product-description " >Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ...</p> </div>
            <div class="list-group-item">Femme
                <p class="product-description ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ...</p> </div>

          </div>
        </div>
      </div>
  
      <!-- Liste de produits -->
      <div class="col-md-8 d-flex flex-wrap">
        <div class="product col-md-6 mb-4">
          <img src="../../assets/shoes_pink.PNG" alt="Product Image">
          <h4 class="product-title">Basket pink</h4>
          <p class="product-price">Prix: 100 dt</p>
          <p class="product-description">Description: Lorem ipsum dolor et ut tenetur modi consequuntur nostrum pariatur natus velit laborum doloremque maiores dolores non iste.</p>
        </div>
        <div class="product col-md-6 mb-4">
          <img src="../../assets/shoes2.PNG" alt="Product Image">
          <h4 class="product-title"> Basket </h4>
          <p class="product-price">Prix: 110dt</p>
          <p class="product-description">Description: Lorem ipsum dolor sit necessitatibus, eos temporibus recusandae accusamus odit vero accusantium  Animi atque laboriosam vel.</p>
        </div>
        <div class="product col-md-6 mb-4">
            <img src="../../assets/claquette.PNG" alt="Product Image">
            <h4 class="product-title">claquette</h4>
            <p class="product-price">Prix: 50 dt</p>
            <p class="product-description">Description: Lorem ipsum dolor et ut tenetur modi consequuntur nostrum pariatur natus velit laborum doloremque maiores dolores non iste.</p>
          </div>
          <div class="product col-md-6 mb-4">
            <img src="../../assets/vetement1.PNG" alt="Product Image">
            <h4 class="product-title">produit</h4>
            <p class="product-price">Prix: 150 dt</p>
            <p class="product-description">Description: Lorem ipsum dolor et ut tenetur modi consequuntur nostrum pariatur natus velit laborum doloremque maiores dolores non iste.</p>
          </div>
          <div class="product col-md-6 mb-4">
            <img src="../../assets/vetement2.PNG" alt="Product Image">
            <h4 class="product-title">produit</h4>
            <p class="product-price">Prix: 100 dt</p>
            <p class="product-description">Description: Lorem ipsum dolor et ut tenetur modi consequuntur nostrum pariatur natus velit laborum doloremque maiores dolores non iste.</p>
          </div>
          <div class="product col-md-6 mb-4">
            <img src="../../assets/vetement3.PNG" alt="Product Image">
            <h4 class="product-title">Produit </h4>
            <p class="product-price">Prix: 20 dt</p>
            <p class="product-description">Description: Lorem ipsum dolor et ut tenetur modi consequuntur nostrum pariatur natus velit laborum doloremque maiores dolores non iste.</p>
          </div>
      </div>
    </nav>

    <div class="pagination">
      <button class="pagination-button">&lt;</button>
      <button class="pagination-button active">1</button>
      <button class="pagination-button">2</button>
      <button class="pagination-button">3</button>
      <button class="pagination-button">&gt;</button>
    </div>
    <section class="rectangle">
      <nav class="row">
          <div class="col-md-4">
            <section class="social-media">
              <a href="https://www.linkedin.com" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </section>
          </div>
    
          <div class="col-md-4 d-flex flex-column justify-content-start text-align-center">
              <h2 class="info">info</h2>
              <div class="support1">
                  Qui sommes-nous? <br>
                  Termes et confidentialité <br>
                  support
              </div>
          </div>
          <div class="col-md-4 d-flex flex-column justify-content-start text-align-center">
              <h2 class="menu"> Menu </h2>
              <div class="support2">
                  Accueil <br>
                  Qui sommes-nous? <br>
                  Contactez-nous
              </div>
          </div>
    
          <div>
              <hr class="ligne">
              <div class="Group">
                <p>&copy; 2024, ADDINN Group </p>
               
              </div>
          </div>
      </nav>
    </section>
    
  </section>
  