
body {
  margin: 0;
  padding: 0;
  background-color: #fff; 
  border-radius: 50px; 

}
h2{
  color: #00416A;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff; 
  border: 40px solid  #a9c7e9; /* Bordure bleue autour de la page */
  box-sizing: border-box;
  
}

.login-wrapper {
  display: flex;
  width: 100%;
  max-width: 800px; /* Ajustez la taille maximale souhaitée */
  height: 400px;
}

.login-icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px; 
  margin-right: 150px;
  


}
.large-image {
 
  transform: scale(1.5); 
  transform-origin: center;
}

.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px; 
  transform-origin: center;

  

}
input.line-input {
  border: none; /* Supprime la bordure */
  border-bottom: 1px solid #ccc; /* Bordure inférieure */
  outline: none; /* Supprime le contour par défaut */
  background: none; /* Supprime le fond par défaut */
  padding: .5em 0; /* Espacement vertical */
  font-size: 1em;
}

.login-icon img {
  max-width: 80%;
  height: auto;
}

.login-form {
  padding: 2em;
  background-color: #fff; /* Fond blanc pour le formulaire */
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: .5em;
  color: #333;
}



button {
  width: 100%;
  padding: .7em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 100px;

}
.action-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3em;
  margin-left: 80px;

}

.register-link,
.login-toggle-link {
  color: #0d0d0e; 
  font-size: 1em;
  margin: 0 1em; 
  padding: 0.5em 1em; 
  cursor: pointer; 
  font-weight: 500; 
  text-decoration: underline;
  margin-bottom: auto;
}

.register-link:hover,
.login-toggle-link:hover {
  color: #080808; 
}

.register-link:focus,
.login-toggle-link:focus {
  outline: none; 
}

.forgot-password {
  background-color: transparent;
  color: #81b0e2;
  border: none;
  font-size: 0.875em;
  text-align: left;
  padding: 0;
  margin-bottom: 1em;
  margin-left: 100px;
  margin-bottom: 50px;
  text-decoration: underline;
}

.login-button {
  background-color: #00416A;
  color: #fff;
  width: 120px;
  height: auto;
  margin-left: 250px;
}

.login-button:hover {
  background-color: #00416A;
}
