<div class="page-container">
 


  <div class="login-wrapper">
    <div class="login-icon">
      <img src="./../../assets/Groupe3.png" alt="Login Icon"  class="large-image" />
    </div>

    <div class="login-form">
     
      <form>
        <div class="form-group">
          <div class="action-buttons">
            <a href="#" class="register-link" routerLink="/inscri">S'inscrire</a>
            <a href="#" class="login-toggle-link" routerLink="/auth">Se connecter</a>
          </div>
          <h2>Bienvenue </h2>

          <label for="email">Email:</label>
          <input id="email" type="email" placeholder="Entrez votre email" class="line-input" />
        </div>

        <div class="form-group">
          <label for="password">Mot de passe:</label>
          <input id="password" type="password" placeholder="**********" class="line-input" />
        </div>

        <button type="button" class="forgot-password">Mot de passe oublié ?</button>
        <button type="submit" class="login-button" routerLink="/profile">Se connecter </button>
      </form>
    </div>
  </div>
</div>
