<!-- src/app/reset-password/reset-password.component.html -->
<div class="page-container">
    <div class="reset-password-wrapper">
      <h2>Mot de passe oublié ?</h2>
      <p>Entrez votre numéro de téléphone ci-dessous pour recevoir les instructions de réinitialisation de votre mot de passe.</p>
  
      <div class="reset-password-form">
        <form>
          <div class="form-group">
            <label for="phone">Numéro de téléphone:</label>
            <input id="phone" type="tel" placeholder="Entrez votre numéro de téléphone" class="line-input" />
          </div>
  
          <button type="submit" class="submit-button">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
  