<!-- navbar.component.html -->

<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" style="color: rgb(114, 114, 227);" routerLink="/Acceuil">Accueil</a>
  </div>

  <div class="navbar-end">
    <button class="button is-primary" routerLink="/addproduct">
      Ajouter +
    </button>
    <button class="button is-primary" routerLink="/updateproduct">
    Modifier
    </button>
    <button class="button is-primary" routerLink="/deleteproduct">
      supprimer
    </button>
    <div class="notification-icon">
      <i class="fa fa-bell"></i>
      <span class="badge">3</span>
    </div>
  </div>
</nav>

<div class="container">
  <section class="profile-section">
    <div class="user-profile">
      <img src="../../assets/image19.png" alt="Profile Image" class="profile-image">
      <div class="user-info">
        <span class="user-name">UserName</span>
        <span class="user-location">Paris, France</span>
      </div>
    </div>
  </section>
</div>
